Creando el dataFrame

In [ ]:
pip install pytc-fitter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytc-fitter in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (1.21.6)
Requirement already satisfied: emcee in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (3.1.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (3.2.2)
Requirement already satisfied: corner in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (2.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pytc-fitter) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pytc-fitter) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pytc-fitter) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pytc-fitter) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->pytc-fitter) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->pytc-fitter) (1.15.0)

Importando las librerias
"#pip install fitter " correrlo si no encuentra fitter

 Para tener el drive 
 
 
 from google.colab import drive
drive.mount('/content/drive')

In [ ]:
pip install fitter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fitter in /usr/local/lib/python3.7/dist-packages (1.5.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from fitter) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from fitter) (1.2.0)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from fitter) (1.7.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from fitter) (3.2.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from fitter) (4.64.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fitter) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fitter) (1.3.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fitter) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fitter) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fitter) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fitter) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->fitter) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->fitter) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fitter) (2022.6)

In [ ]:
#Importamos las librerias
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from scipy.stats import kstest
from scipy.stats import anderson
import numpy as np
import seaborn as sns
import fitter
from fitter import Fitter, get_common_distributions, get_distributions
from scipy.stats import beta
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier

In [ ]:
#creacion del dataframe
df = pd.read_csv('/content/drive/MyDrive/ADD/Fertile_Man_WHO_2020.csv')
df

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Vitality,Normal_Forms
0,Aboutorabi,3.2,27.0,86.4,35.0,20.0,15.0,65.0,NaN,NaN
1,Aboutorabi,0.8,136.0,108.8,47.0,35.0,12.0,53.0,NaN,NaN
2,Aboutorabi,2.0,71.0,142.0,49.0,42.0,7.0,51.0,NaN,NaN
3,Aboutorabi,1.0,35.0,35.0,50.0,28.0,22.0,50.0,NaN,NaN
4,Aboutorabi,2.0,46.0,92.0,51.0,28.0,33.0,49.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3584,Tang,1.7,23.0,39.1,53.0,52.0,1.0,NaN,82.0,25.0
3585,Tang,2.5,110.0,275.0,66.0,66.0,0.0,NaN,95.0,30.0
3586,Tang,2.0,109.0,218.0,64.0,44.0,20.0,36.0,NaN,11.0
3587,Tang,6.2,96.0,595.2,39.0,29.0,10.0,61.0,NaN,7.0
3588,Tang,3.0,36.0,108.0,54.0,38.0,16.0,46.0,NaN,11.0

In [ ]:
df = df.drop(columns = 'Vitality')

In [ ]:
#probamos cuando tenemos total_motility y no contamos con Immotile_Spermatoza
df['Immotile_Spermatozoa'] = df['Immotile_Spermatozoa'].fillna(100-df['Total_Motility'])
#probamos cuando tenemos Immotile_Spermatoza y no contamos con total_motility. Despejando la formula
df['Total_Motility'] = df['Total_Motility'].fillna(100-df['Immotile_Spermatozoa'])
df

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms
0,Aboutorabi,3.2,27.0,86.4,35.0,20.0,15.0,65.0,NaN
1,Aboutorabi,0.8,136.0,108.8,47.0,35.0,12.0,53.0,NaN
2,Aboutorabi,2.0,71.0,142.0,49.0,42.0,7.0,51.0,NaN
3,Aboutorabi,1.0,35.0,35.0,50.0,28.0,22.0,50.0,NaN
4,Aboutorabi,2.0,46.0,92.0,51.0,28.0,33.0,49.0,NaN
...,...,...,...,...,...,...,...,...,...
3584,Tang,1.7,23.0,39.1,53.0,52.0,1.0,47.0,25.0
3585,Tang,2.5,110.0,275.0,66.0,66.0,0.0,34.0,30.0
3586,Tang,2.0,109.0,218.0,64.0,44.0,20.0,36.0,11.0
3587,Tang,6.2,96.0,595.2,39.0,29.0,10.0,61.0,7.0
3588,Tang,3.0,36.0,108.0,54.0,38.0,16.0,46.0,11.0

In [ ]:
df['Progressive_Motility'] = df['Progressive_Motility'].fillna(df['Total_Motility']-df['Non-progressive_Motility'])
df['Non-progressive_Motility'] = df['Non-progressive_Motility'].fillna(df['Total_Motility']-df['Progressive_Motility'])

In [ ]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3132 entries, 169 to 3588
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Publisher                 3132 non-null   object
 1   Semen_Volume              3132 non-null   float64
 2   Sperm_Concentration       3132 non-null   float64
 3   Total_Number              3132 non-null   float64
 4   Total_Motility            3132 non-null   float64
 5   Progressive_Motility      3132 non-null   float64
 6   Non-progressive_Motility  3132 non-null   float64
 7   Immotile_Spermatozoa      3132 non-null   float64
 8   Normal_Forms              3132 non-null   float64
dtypes: float64(8), object(1)
memory usage: 244.7+ KB

Encontrar los valores para cada una de las clases de fertilidad que existe

# 0 - infertil 
1 - medio
## 2 - super fertil

In [ ]:
#Dataframe completo para saber si se ejecuto bien la condicion
outcome = []
normal_form = []
semen_Volume = []
#Contadores para cada tipo
count_low = 0
count_normal = 0
count_extra = 0

#Listas para dataframes de cada tipo
nf_low = []
nf_normal = []
nf_extra = []


for i in range(len(df)):
  if df.iloc[i]['Normal_Forms'] < 4.0:
    fertility_impared = 0
    nf_low.append(df.iloc[i]['Normal_Forms'])
    outcome.append(fertility_impared)
    count_low = count_low + 1
  elif df.iloc[i]['Normal_Forms'] > 14.0:
    fertility_extra = 2
    nf_extra.append(df.iloc[i]['Normal_Forms'])
    outcome.append(fertility_extra)
    count_extra = count_extra + 1
  else:
    fertility_normal = 1
    nf_normal.append(df.iloc[i]['Normal_Forms'])
    outcome.append(fertility_normal)
    count_normal = count_normal + 1
  normal_form.append(df.iloc[i]['Normal_Forms'])

In [ ]:
#Cuantos valores hay de cada uno
print("Low: ",count_low)
print("Normal: ", count_normal)
print("Extra: ",count_extra)

Low:  140
Normal:  1615
Extra:  1377

In [ ]:
#agregar el outcome
df['Outcome'] = outcome

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms,Outcome
169,Auger,3.4,2.0,7.0,4.0,0.0,4.0,96.0,6.0,1
170,Auger,3.4,9.0,31.0,24.0,13.0,11.0,76.0,17.0,2
171,Auger,1.9,37.0,70.0,24.0,15.0,9.0,76.0,5.0,1
172,Auger,6.0,11.0,66.0,25.0,15.0,10.0,76.0,12.0,1
173,Auger,1.2,159.0,191.0,30.0,5.0,25.0,70.0,25.0,2
...,...,...,...,...,...,...,...,...,...,...
3584,Tang,1.7,23.0,39.1,53.0,52.0,1.0,47.0,25.0,2
3585,Tang,2.5,110.0,275.0,66.0,66.0,0.0,34.0,30.0,2
3586,Tang,2.0,109.0,218.0,64.0,44.0,20.0,36.0,11.0,1
3587,Tang,6.2,96.0,595.2,39.0,29.0,10.0,61.0,7.0,1
3588,Tang,3.0,36.0,108.0,54.0,38.0,16.0,46.0,11.0,1

In [ ]:
#Partir dependiedo de la categoria

df_low = df[df['Outcome'] == 0]
df_normal = df[df['Outcome'] == 1]
df_extra= df[df['Outcome'] == 2]

In [ ]:
df_low

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms,Outcome
192,Auger,2.5,27.0,68.0,40.0,32.0,8.0,60.0,2.0,0
207,Auger,4.7,66.0,310.0,44.0,32.0,12.0,56.0,2.0,0
209,Auger,3.1,5.0,16.0,44.0,34.0,10.0,56.0,1.0,0
212,Auger,3.7,1.0,4.0,45.0,27.0,18.0,55.0,1.0,0
221,Auger,5.9,19.0,112.0,45.0,40.0,5.0,55.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...
3372,Tang,4.5,114.0,513.0,76.0,74.0,2.0,24.0,3.0,0
3411,Tang,4.8,88.0,422.4,63.0,57.0,6.0,37.0,3.0,0
3412,Tang,4.2,127.0,533.4,64.0,52.0,12.0,36.0,3.0,0
3417,Tang,4.4,64.0,281.6,33.0,12.0,21.0,67.0,3.0,0
3508,Tang,4.1,139.0,569.9,90.0,87.0,3.0,10.0,3.0,0

In [ ]:
df_normal_2 = df_low.append(df_normal)
df_ready_all = df_normal_2.append(df_extra)

In [ ]:
df.groupby(by = 'Outcome').mean()

,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms
Outcome,,,,,,,,
0,3.910071,48.511429,180.247046,57.749187,47.710805,9.995525,42.265099,2.364286
1,3.396947,70.376316,231.368217,63.135878,52.234266,10.891086,36.895081,8.973065
2,3.520160,94.107625,319.266386,65.679679,56.579593,9.115337,34.315963,23.690995

In [ ]:
#Sacar un sample de cada tipo
sdf_low = df_low.sample(100)
sdf_normal = df_normal.sample(100)
sdf_extra = df_extra.sample(100)

In [ ]:
result = sdf_low.append(sdf_normal)
df_ready = result.append(sdf_extra)

In [ ]:
df_ready.head()

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms,Outcome
3411,Tang,4.80,88.00,422.4000,63.000000,57.000000,6.000000,37.000000,3.0,0
1804,Swan,2.79,59.65,166.4235,53.205128,46.153846,7.051282,46.794872,3.0,0
442,Auger,8.30,15.00,125.0000,58.000000,52.000000,6.000000,43.000000,1.0,0
3417,Tang,4.40,64.00,281.6000,33.000000,12.000000,21.000000,67.000000,3.0,0
326,Auger,6.00,46.00,276.0000,53.000000,40.000000,13.000000,47.000000,3.0,0

In [ ]:
df_shuffled = df_ready.sample(frac = 1).reset_index(drop = True)
df_shuffled.head()

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms,Outcome
0,Auger,4.1,72.0,295.0,57.0,52.0,5.0,48.0,56.0,2
1,Baker,3.8,228.0,866.4,52.0,48.0,4.0,48.0,3.0,0
2,Lotti,3.6,60.0,216.0,58.0,44.0,14.0,42.0,3.0,0
3,Baker,3.4,54.0,183.6,58.0,52.0,6.0,42.0,3.0,0
4,Zedan,2.5,27.0,67.5,65.0,55.0,10.0,45.0,12.0,1

In [ ]:
X = df_ready_all.drop(columns = ['Publisher','Total_Motility','Progressive_Motility','Non-progressive_Motility','Normal_Forms','Outcome'])
y = df_ready_all['Outcome']
X_train, X_test, y_train, y_test = train_test_split(
                     X, y, test_size=0.30)

In [ ]:
X

      Semen_Volume  Sperm_Concentration  Total_Number  Immotile_Spermatozoa
192            2.5                 27.0          68.0                  60.0
207            4.7                 66.0         310.0                  56.0
209            3.1                  5.0          16.0                  56.0
212            3.7                  1.0           4.0                  55.0
221            5.9                 19.0         112.0                  55.0
...            ...                  ...           ...                   ...
3581           4.0                 22.0          88.0                  65.0
3582           2.5                 49.0         122.5                  29.0
3583           3.2                124.0         396.8                  28.0
3584           1.7                 23.0          39.1                  47.0
3585           2.5                110.0         275.0                  34.0

[3132 rows x 4 columns]

In [ ]:
#entrenamiento
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [ ]:
#Prediccion
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.573404255319149

In [ ]:
X_test

      Semen_Volume  Sperm_Concentration  Total_Number  Immotile_Spermatozoa
1736          3.09                 24.9        76.941             51.803279
1249          4.00                 45.0       180.000             34.000000
3118          3.80                134.0       509.200             28.000000
996           3.10                 18.0        55.800             68.000000
1344          4.40                 28.0       123.200             29.000000
...            ...                  ...           ...                   ...
706           4.90                 78.0       382.000             32.000000
3345          1.20                190.0       228.000             22.000000
2444          4.00                219.0       876.000             31.000000
2850          2.40                 38.0        91.200             54.000000
545           3.60                116.0       418.000             38.000000

[940 rows x 4 columns]

In [ ]:
clf.predict([[3.60,	2.00,	7.0000,	60.000000,	43.000000,	17.000000,	41.000000,	1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

ValueError: ignored

In [ ]:
variables = X_train.columns
plt.figure(figsize=[20,7])
tree.plot_tree(clf, feature_names=variables, class_names=['Low', 'Normal','Extra'], fontsize=8, filled=True)
plt.show()

## SIMULACIÓN

Crear valores de manera aleatoria con respecto a cada una de las variables y sus distribuciones

In [ ]:
import pandas as pd
df_simulacion = pd.DataFrame()

#Semen_Volume {'lognorm': {'s': 0.30659326921357194,'loc': -1.4896186495548747, 'scale': 4.682475766641394}}
from scipy.stats import lognorm

s = 0.30659326921357194
loc = -1.4896186495548747
scale = 4.682475766641394
r = lognorm.rvs(s, loc, scale, size=940)
df_simulacion['Semen_Volume'] = pd.DataFrame(r)

#Sperm_Concentration {'beta': {'a': 1.8715800118478425, 'b': 37123080.61551016, 'loc': 0.7219686279350515, 'scale': 1562222886.2104893}}
from scipy.stats import beta
a = 1.8715800118478425
b =  37123080.61551016
loc = 0.7219686279350515
scale = 1562222886.2104893
r = beta.rvs(a, b, loc, scale, size=940)
df_simulacion['Sperm_Concentration'] = pd.DataFrame(r) 

#Total_number
from scipy.stats import geninvgauss
import pandas as pd
p = 0.8729789982350924
b =0.9328790956394014
loc = -8.40937745361811
scale = 105.1713282906534
r = geninvgauss.rvs(p, b,loc, scale, size=940)
df_simulacion['Total_number'] = pd.DataFrame(r)

#Immotile_Spermatozoa {'hypsecant': {'loc': 36.14524063662653, 'scale': 8.930520906081089}}
from scipy.stats import hypsecant
loc = 36.14524063662653
scale = 8.930520906081089
r = hypsecant.rvs(loc, scale, size=940)
df_simulacion['Immotile_Spermatozoa'] = pd.DataFrame(r)

In [ ]:
df_simulacion

     Semen_Volume  Sperm_Concentration  Total_number  Immotile_Spermatozoa
0        3.213140            52.452656     53.881357             50.922428
1        5.053935           106.659046    603.647327             44.339797
2        2.625471             8.244747     97.187027             41.096646
3        2.511820           280.897954    471.454101             49.659102
4        2.458512           142.789726    862.120696             45.676747
..            ...                  ...           ...                   ...
935      2.146700            44.413591    292.763411             52.370367
936      3.525302           124.627588    432.070505             35.619166
937      2.659199            47.629832     59.638799             20.606786
938      4.217306           222.806669    277.176949             38.719764
939      3.924035            23.616252    215.956728             58.686776

[940 rows x 4 columns]

Hipótesis 1
El volumen del semen (Semen_Volume) no influye en la fertilidad del hombre.

In [ ]:
df_simulacion['Semen_Volume'].min()

0.22834080925669298

In [ ]:
import numpy as np
import pandas as pd
randMin = np.random.uniform(low=0, high=4, size=940)
randMed = np.random.uniform(low=4.1, high=8, size=940)
randMax = np.random.uniform(low=8.1, high=10, size=940)

In [ ]:
dfMin = pd.DataFrame(randMin)
dfMed = pd.DataFrame(randMed)
dfMax = pd.DataFrame(randMax)

In [ ]:
df2= pd.concat([dfMin, dfMed, dfMax], axis = 1)

Modificar el dataframe de simulacion y cambiar los valores de semen_volume

In [ ]:
df_simulacion_h1_min = df_simulacion

In [ ]:
df_simulacion_h1_min['Semen_Volume'] = dfMin

In [ ]:
y_pred_sv_min = clf.predict(df_simulacion_h1_min)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Total_number
Feature names seen at fit time, yet now missing:
- Total_Number

  warnings.warn(message, FutureWarning)

In [ ]:
df_simulacion_h1_min

     Semen_Volume  Sperm_Concentration  Total_number  Immotile_Spermatozoa
0        2.516226            52.452656     53.881357             50.922428
1        0.112861           106.659046    603.647327             44.339797
2        0.477512             8.244747     97.187027             41.096646
3        1.551174           280.897954    471.454101             49.659102
4        2.352597           142.789726    862.120696             45.676747
..            ...                  ...           ...                   ...
935      3.378474            44.413591    292.763411             52.370367
936      1.984952           124.627588    432.070505             35.619166
937      2.013044            47.629832     59.638799             20.606786
938      1.293340           222.806669    277.176949             38.719764
939      2.919826            23.616252    215.956728             58.686776

[940 rows x 4 columns]

In [ ]:
df_simulacion_h1_min['Prediccion'] = y_pred

In [ ]:
df_simulacion_h1_min

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,2.516226,52.452656,53.881357,50.922428,1
1,0.112861,106.659046,603.647327,44.339797,1
2,0.477512,8.244747,97.187027,41.096646,2
3,1.551174,280.897954,471.454101,49.659102,2
4,2.352597,142.789726,862.120696,45.676747,2
...,...,...,...,...,...
935,3.378474,44.413591,292.763411,52.370367,1
936,1.984952,124.627588,432.070505,35.619166,2
937,2.013044,47.629832,59.638799,20.606786,2
938,1.293340,222.806669,277.176949,38.719764,1
939,2.919826,23.616252,215.956728,58.686776,2

In [ ]:
df_simulacion

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,2.516226,52.452656,53.881357,50.922428,1
1,0.112861,106.659046,603.647327,44.339797,1
2,0.477512,8.244747,97.187027,41.096646,2
3,1.551174,280.897954,471.454101,49.659102,2
4,2.352597,142.789726,862.120696,45.676747,2
...,...,...,...,...,...
935,3.378474,44.413591,292.763411,52.370367,1
936,1.984952,124.627588,432.070505,35.619166,2
937,2.013044,47.629832,59.638799,20.606786,2
938,1.293340,222.806669,277.176949,38.719764,1
939,2.919826,23.616252,215.956728,58.686776,2

In [ ]:
(unique, counts_h1) = np.unique(y_pred_sv_min, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h1}')

Valores:     [0 1 2]
Frecuencia: [ 70 406 464]

In [ ]:
result_h1 = counts_h1

In [ ]:
result_h1

array([ 70, 406, 464])

Valores Medios

In [ ]:
df_simulacion.drop(columns = ['Prediccion'])

     Semen_Volume  Sperm_Concentration  Total_number  Immotile_Spermatozoa
0        2.516226            52.452656     53.881357             50.922428
1        0.112861           106.659046    603.647327             44.339797
2        0.477512             8.244747     97.187027             41.096646
3        1.551174           280.897954    471.454101             49.659102
4        2.352597           142.789726    862.120696             45.676747
..            ...                  ...           ...                   ...
935      3.378474            44.413591    292.763411             52.370367
936      1.984952           124.627588    432.070505             35.619166
937      2.013044            47.629832     59.638799             20.606786
938      1.293340           222.806669    277.176949             38.719764
939      2.919826            23.616252    215.956728             58.686776

[940 rows x 4 columns]

In [ ]:
df_simulacion_h1_med = df_simulacion

In [ ]:
df_simulacion_h1_med['Semen_Volume'] = dfMed

In [ ]:
y_pred_sv_med = clf.predict(df_simulacion_h1_med)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Prediccion
- Total_number
Feature names seen at fit time, yet now missing:
- Total_Number

  warnings.warn(message, FutureWarning)

ValueError: ignored

In [ ]:
df_simulacion_h1_med['Prediccion'] = y_pred_sv_med

NameError: ignored

In [ ]:
df_simulacion_h1_med

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,7.243374,52.452656,53.881357,50.922428,1
1,4.939092,106.659046,603.647327,44.339797,1
2,5.986437,8.244747,97.187027,41.096646,2
3,5.404432,280.897954,471.454101,49.659102,2
4,5.228253,142.789726,862.120696,45.676747,2
...,...,...,...,...,...
935,5.963343,44.413591,292.763411,52.370367,1
936,5.568170,124.627588,432.070505,35.619166,2
937,7.002219,47.629832,59.638799,20.606786,2
938,4.960719,222.806669,277.176949,38.719764,1
939,5.077734,23.616252,215.956728,58.686776,2

In [ ]:
df_simulacion

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,7.243374,52.452656,53.881357,50.922428,1
1,4.939092,106.659046,603.647327,44.339797,1
2,5.986437,8.244747,97.187027,41.096646,2
3,5.404432,280.897954,471.454101,49.659102,2
4,5.228253,142.789726,862.120696,45.676747,2
...,...,...,...,...,...
935,5.963343,44.413591,292.763411,52.370367,1
936,5.568170,124.627588,432.070505,35.619166,2
937,7.002219,47.629832,59.638799,20.606786,2
938,4.960719,222.806669,277.176949,38.719764,1
939,5.077734,23.616252,215.956728,58.686776,2

In [ ]:
(unique, counts_h1_med) = np.unique(y_pred_sv_med, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h1_med}')

NameError: ignored

In [ ]:
result_h1_med = counts_h1_med

NameError: ignored

In [ ]:
result_h1_med

NameError: ignored

MAximos

In [ ]:
df_simulacion

In [ ]:
df_simulacion = df_simulacion.drop(columns = ['Prediccion'])

In [ ]:
df_simulacion_h1_max = df_simulacion

In [ ]:
df_simulacion_h1_max['Semen_Volume'] = dfMax

In [ ]:
y_pred_sv_max = clf.predict(df_simulacion_h1_max)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Prediccion
- Total_number
Feature names seen at fit time, yet now missing:
- Total_Number

  warnings.warn(message, FutureWarning)

ValueError: ignored

In [ ]:
df_simulacion_h1_max['Prediccion'] = y_pred_sv_max

NameError: ignored

In [ ]:
df_simulacion_h1_max

In [ ]:
df_simulacion

In [ ]:
(unique, counts_h1_max) = np.unique(y_pred_sv_max, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h1_max}')

In [ ]:
result_h1_max = counts_h1_max

In [ ]:
result_h1_max

In [ ]:
resultado = [result_h1,result_h1_med,result_h1_max]

columnas = ['Infertil(0)', 'Fertil(1)', 'Alta Fertilidad(2)'] # definimos los nombres de las columnas
filas = ['Valores Mínimos','Valores Medios', 'Valores Máximos'] # definimos los nombres de las filas

df_result = pd.DataFrame(resultado, columns=columnas, index=filas)

In [ ]:
df_result

# Hipótesis 2
La alta concentración de espermatozoides afecta directamente en la fertilidad del hombre.
## Escenario 1
Los hombres con un rango alto de concentración de espermatozoides son fértiles.

In [ ]:
df_simulacion = df_simulacion.drop(columns = ['Prediccion'])

In [ ]:
df_simulacion

In [ ]:
df_simulacion_h2_e1['Sperm_Concentration'].max()

In [ ]:
df_simulacion_h2_e1['Sperm_Concentration'].min()

In [ ]:
import numpy as np
import pandas as pd
randMax = np.random.uniform(low=248.1, high=373, size=940)

In [ ]:
dfMax_h2 = pd.DataFrame(randMax)

In [ ]:
df_simulacion_h2_e1['Sperm_Concentration'] = dfMax_h2
df_simulacion_h2_e1

In [ ]:
y_pred_sc_max = clf.predict(df_simulacion_h2_e1)

In [ ]:
df_simulacion_h2_e1['Prediccion'] = y_pred_sc_max

In [ ]:
df_simulacion_h2_e1

In [ ]:
(unique, counts_h2_e1) = np.unique(y_pred_sc_max, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h2_e1}')

In [ ]:
resultado = [counts_h2_e1]

columnas = ['Infertil(0)', 'Fertil(1)', 'Alta Fertilidad(2)'] # definimos los nombres de las columnas
filas = ['Valores Máximos'] # definimos los nombres de las filas

df_result = pd.DataFrame(resultado, columns=columnas, index=filas)

In [ ]:
df_result

##Escenario 2
Los hombres con un rango mínimo de concentración de espermatozoides son infértiles.

In [ ]:
df_simulacion

In [ ]:
df_simulacion = df_simulacion.drop(columns = ['Prediccion'])

In [ ]:
df_simulacion

In [ ]:
import numpy as np
import pandas as pd
randMin = np.random.uniform(low=3, high=124, size=940)

In [ ]:
dfMin_h2 = pd.DataFrame(randMin)

In [ ]:
df_simulacion_h2_e2 = df_simulacion

In [ ]:
df_simulacion_h2_e2['Sperm_Concentration'] = dfMin_h2
df_simulacion_h2_e2

In [ ]:
y_pred_sc_min = clf.predict(df_simulacion_h2_e2)

In [ ]:
df_simulacion_h2_e2['Prediccion'] = y_pred_sc_min

In [ ]:
df_simulacion_h2_e2

In [ ]:
(unique, counts_h2_e2) = np.unique(y_pred_sc_min, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h2_e2}')

In [ ]:
resultado = [counts_h2_e2]

columnas = ['Infertil(0)', 'Fertil(1)', 'Alta Fertilidad(2)'] # definimos los nombres de las columnas
filas = ['Valores Mínimos'] # definimos los nombres de las filas

df_result = pd.DataFrame(resultado, columns=columnas, index=filas)

In [ ]:
df_result

Hipotesis 4:
El número total de espermatozoides influye directamente en la fertilidad del hombre. 
Escenario 1
Los hombres con un rango máximo de espermatozoides son fértiles.

In [ ]:
import pandas as pd
df_simulacion = pd.DataFrame()

#Semen_Volume {'lognorm': {'s': 0.30659326921357194,'loc': -1.4896186495548747, 'scale': 4.682475766641394}}
from scipy.stats import lognorm

s = 0.30659326921357194
loc = -1.4896186495548747
scale = 4.682475766641394
r = lognorm.rvs(s, loc, scale, size=940)
df_simulacion['Semen_Volume'] = pd.DataFrame(r)

#Sperm_Concentration {'beta': {'a': 1.8715800118478425, 'b': 37123080.61551016, 'loc': 0.7219686279350515, 'scale': 1562222886.2104893}}
from scipy.stats import beta
a = 1.8715800118478425
b =  37123080.61551016
loc = 0.7219686279350515
scale = 1562222886.2104893
r = beta.rvs(a, b, loc, scale, size=940)
df_simulacion['Sperm_Concentration'] = pd.DataFrame(r) 

#Total_number
from scipy.stats import geninvgauss
import pandas as pd
p = 0.8729789982350924
b =0.9328790956394014
loc = -8.40937745361811
scale = 105.1713282906534
r = geninvgauss.rvs(p, b,loc, scale, size=940)
df_simulacion['Total_number'] = pd.DataFrame(r)

#Immotile_Spermatozoa {'hypsecant': {'loc': 36.14524063662653, 'scale': 8.930520906081089}}
from scipy.stats import hypsecant
loc = 36.14524063662653
scale = 8.930520906081089
r = hypsecant.rvs(loc, scale, size=940)
df_simulacion['Immotile_Spermatozoa'] = pd.DataFrame(r)

In [ ]:
df_simulacion

     Semen_Volume  Sperm_Concentration  Total_number  Immotile_Spermatozoa
0        2.551236            43.205819    200.816823             21.116463
1        3.030460           170.770194    841.489924             37.578986
2        3.220001            52.105321    109.592215             37.240020
3        2.581377            80.580706    152.399514             10.271046
4        3.965461            91.064079    623.711535             13.790052
..            ...                  ...           ...                   ...
935      3.817478            23.251243    380.482163             29.713725
936      2.231960            99.066945    252.130667             57.063215
937      4.045285            75.374266    192.192152             37.979442
938      3.745626            67.033064    563.795304             40.960223
939      5.112713           121.377845     97.975537             46.155692

[940 rows x 4 columns]

In [ ]:
df_simulacion['Total_number'].min()

9.788593414556633

In [ ]:
df_simulacion['Total_number'].max()

1643.412220189622

In [ ]:
import numpy as np
import pandas as pd
randMin = np.random.uniform(low=9, high=548, size=940)
randMed = np.random.uniform(low=548.1, high=1096, size=940)
randMax = np.random.uniform(low=1096.1, high=1644, size=940)

In [ ]:
dfMin = pd.DataFrame(randMin)
dfMed = pd.DataFrame(randMed)
dfMax = pd.DataFrame(randMax)

In [ ]:
df2= pd.concat([dfMin, dfMed, dfMax], axis = 1)

Modificar el dataframe de simulacion y cambiar los valores de semen_volume

In [ ]:
df_simulacion_h4_min = df_simulacion

In [ ]:
df_simulacion_h4_min['Total_number'] = dfMin

In [ ]:
y_pred_tn_min = clf.predict(df_simulacion_h4_min)

In [ ]:
df_simulacion_h4_min['Prediccion'] = y_pred_tn_min

In [ ]:
df_simulacion_h4_min

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,2.551236,43.205819,333.482992,21.116463,1
1,3.030460,170.770194,458.419788,37.578986,2
2,3.220001,52.105321,201.477122,37.240020,1
3,2.581377,80.580706,316.636251,10.271046,2
4,3.965461,91.064079,301.599354,13.790052,2
...,...,...,...,...,...
935,3.817478,23.251243,40.635694,29.713725,0
936,2.231960,99.066945,188.906286,57.063215,1
937,4.045285,75.374266,359.768692,37.979442,1
938,3.745626,67.033064,490.266596,40.960223,2
939,5.112713,121.377845,205.954642,46.155692,2

In [ ]:
df_simulacion

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,2.761115,70.898826,482.519435,27.867173,2
1,5.082339,240.233637,48.831952,52.363959,1
2,1.815787,87.531569,173.751254,40.647600,1
3,9.447212,109.738544,270.374746,25.464235,1
4,1.004079,57.800219,374.731901,57.070024,1
...,...,...,...,...,...
935,3.263547,166.256387,247.895227,37.343929,2
936,3.597557,63.995233,281.078782,29.501826,2
937,2.636532,67.791051,241.347266,27.363857,1
938,5.370825,122.259112,446.481049,56.498081,1
939,3.722069,67.109385,194.561900,43.624699,0

In [ ]:
(unique, counts_h4_e2) = np.unique(y_pred_tn_min, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h4_e2}')

Valores:     [0 1 2]
Frecuencia: [ 63 451 426]

In [ ]:
result_h1 = counts_h4_e2

In [ ]:
resultado = [counts_h4_e2]

columnas = ['Infertil(0)', 'Fertil(1)', 'Alta Fertilidad(2)'] # definimos los nombres de las columnas
filas = ['Valores Mínimos'] # definimos los nombres de las filas

df_result = pd.DataFrame(resultado, columns=columnas, index=filas)

In [ ]:
df_result

                 Infertil(0)  Fertil(1)  Alta Fertilidad(2)
Valores Mínimos           63        451                 426

Maximo

In [ ]:
df_simulacion_h4_max = df_simulacion

In [ ]:
df_simulacion_h4_max['Total_number'] = dfMax

In [ ]:
df_simulacion_h4_max = df_simulacion_h4_max.drop(columns = ['Prediccion'])

In [ ]:
y_pred_tn_max = clf.predict(df_simulacion_h4_max)

In [ ]:
df_simulacion_h4_max['Prediccion'] = y_pred_tn_max

In [ ]:
df_simulacion_h4_max

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,2.551236,43.205819,1161.443588,21.116463,2
1,3.030460,170.770194,1164.095147,37.578986,2
2,3.220001,52.105321,1616.891160,37.240020,2
3,2.581377,80.580706,1542.182186,10.271046,2
4,3.965461,91.064079,1325.626870,13.790052,2
...,...,...,...,...,...
935,3.817478,23.251243,1622.064691,29.713725,2
936,2.231960,99.066945,1136.586997,57.063215,1
937,4.045285,75.374266,1419.460672,37.979442,2
938,3.745626,67.033064,1477.316886,40.960223,2
939,5.112713,121.377845,1263.556065,46.155692,2

In [ ]:
df_simulacion

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,2.761115,70.898826,1019.373111,27.867173,2
1,5.082339,240.233637,1229.083290,52.363959,1
2,1.815787,87.531569,1226.202067,40.647600,1
3,9.447212,109.738544,1451.705783,25.464235,1
4,1.004079,57.800219,1480.601533,57.070024,1
...,...,...,...,...,...
935,3.263547,166.256387,1362.603309,37.343929,2
936,3.597557,63.995233,1479.003928,29.501826,2
937,2.636532,67.791051,1095.618437,27.363857,1
938,5.370825,122.259112,1490.703494,56.498081,1
939,3.722069,67.109385,1433.016462,43.624699,0

In [ ]:
(unique, counts_h4_e1) = np.unique(y_pred_tn_max, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h4_e1}')

Valores:     [0 1 2]
Frecuencia: [  5 192 743]

In [ ]:
result_h1 = counts_h4_e1

In [ ]:
resultado = [counts_h4_e1]

columnas = ['Infertil(0)', 'Fertil(1)', 'Alta Fertilidad(2)'] # definimos los nombres de las columnas
filas = ['Valores Máximos'] # definimos los nombres de las filas

df_result = pd.DataFrame(resultado, columns=columnas, index=filas)

In [ ]:
df_result

                 Infertil(0)  Fertil(1)  Alta Fertilidad(2)
Valores Máximos            5        192                 743

## **Medios**

In [ ]:
df_simulacion_h4_med = df_simulacion

In [ ]:
df_simulacion_h4_med['Total_number'] = dfMed

In [ ]:
df_simulacion_h4_med = df_simulacion_h4_med.drop(columns = ['Prediccion'])

In [ ]:
y_pred_tn_med = clf.predict(df_simulacion_h4_med)

In [ ]:
df_simulacion_h4_med['Prediccion'] = y_pred_tn_med

In [ ]:
df_simulacion_h4_med

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,2.551236,43.205819,575.630844,21.116463,2
1,3.030460,170.770194,723.814445,37.578986,2
2,3.220001,52.105321,750.232366,37.240020,2
3,2.581377,80.580706,598.218414,10.271046,2
4,3.965461,91.064079,912.520540,13.790052,2
...,...,...,...,...,...
935,3.817478,23.251243,662.539209,29.713725,2
936,2.231960,99.066945,675.783366,57.063215,1
937,4.045285,75.374266,557.470856,37.979442,2
938,3.745626,67.033064,633.742896,40.960223,2
939,5.112713,121.377845,987.575858,46.155692,2

In [ ]:
df_simulacion

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,2.761115,70.898826,1019.373111,27.867173,2
1,5.082339,240.233637,1229.083290,52.363959,1
2,1.815787,87.531569,1226.202067,40.647600,1
3,9.447212,109.738544,1451.705783,25.464235,1
4,1.004079,57.800219,1480.601533,57.070024,1
...,...,...,...,...,...
935,3.263547,166.256387,1362.603309,37.343929,2
936,3.597557,63.995233,1479.003928,29.501826,2
937,2.636532,67.791051,1095.618437,27.363857,1
938,5.370825,122.259112,1490.703494,56.498081,1
939,3.722069,67.109385,1433.016462,43.624699,0

In [ ]:
(unique, counts_h4_e3) = np.unique(y_pred_tn_med, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h4_e3}')

Valores:     [0 1 2]
Frecuencia: [ 12 200 728]

In [ ]:
result_h1 = counts_h4_e3

In [ ]:
resultado = [counts_h4_e3]

columnas = ['Infertil(0)', 'Fertil(1)', 'Alta Fertilidad(2)'] # definimos los nombres de las columnas
filas = ['Valores Medios'] # definimos los nombres de las filas

df_result = pd.DataFrame(resultado, columns=columnas, index=filas)

In [ ]:
df_result

                Infertil(0)  Fertil(1)  Alta Fertilidad(2)
Valores Medios           12        200                 728

## Hipótesis 3
No se puede contar con un porcentaje superior a 60% de inmovilidad de espermatozoides (Immotile_spermatozoa) y ser fértil.

In [ ]:
import pandas as pd
df_simulacion = pd.DataFrame()

#Semen_Volume {'lognorm': {'s': 0.30659326921357194,'loc': -1.4896186495548747, 'scale': 4.682475766641394}}
from scipy.stats import lognorm

s = 0.30659326921357194
loc = -1.4896186495548747
scale = 4.682475766641394
r = lognorm.rvs(s, loc, scale, size=940)
df_simulacion['Semen_Volume'] = pd.DataFrame(r)

#Sperm_Concentration {'beta': {'a': 1.8715800118478425, 'b': 37123080.61551016, 'loc': 0.7219686279350515, 'scale': 1562222886.2104893}}
from scipy.stats import beta
a = 1.8715800118478425
b =  37123080.61551016
loc = 0.7219686279350515
scale = 1562222886.2104893
r = beta.rvs(a, b, loc, scale, size=940)
df_simulacion['Sperm_Concentration'] = pd.DataFrame(r) 

#Total_number
from scipy.stats import geninvgauss
import pandas as pd
p = 0.8729789982350924
b =0.9328790956394014
loc = -8.40937745361811
scale = 105.1713282906534
r = geninvgauss.rvs(p, b,loc, scale, size=940)
df_simulacion['Total_number'] = pd.DataFrame(r)

#Immotile_Spermatozoa {'hypsecant': {'loc': 36.14524063662653, 'scale': 8.930520906081089}}
from scipy.stats import hypsecant
loc = 36.14524063662653
scale = 8.930520906081089
r = hypsecant.rvs(loc, scale, size=940)
df_simulacion['Immotile_Spermatozoa'] = pd.DataFrame(r)

In [ ]:
df_simulacion

In [ ]:
import numpy as np
import pandas as pd
rand_h3 = np.random.uniform(low=60, high=100, size=940)

In [ ]:
df_h3 = pd.DataFrame(rand_h3)

Modificar el dataframe de simulacion y cambiar los valores de semen_volume

In [ ]:
df_simulacion_h3 = df_simulacion

In [ ]:
df_simulacion_h3['Immotile_Spermatozoa'] = df_h3

In [ ]:
y_pred_immo = clf.predict(df_simulacion_h3)

In [ ]:
df_simulacion_h3['Prediccion'] = y_pred_immo

In [ ]:
df_simulacion_h3

,Semen_Volume,Sperm_Concentration,Total_number,Immotile_Spermatozoa,Prediccion
0,1.191421,6.369872,183.007578,87.689864,1
1,4.877545,26.184307,87.008463,62.735490,1
2,2.760832,38.710658,129.526672,60.841988,1
3,2.303729,222.616658,227.109625,95.853788,1
4,2.106557,28.706846,360.902387,94.509815,1
...,...,...,...,...,...
935,2.470145,69.815448,132.930751,82.530597,0
936,2.379123,49.571798,201.661324,63.302324,1
937,1.796006,67.699505,87.136637,87.950437,1
938,2.505137,201.725999,119.037394,95.528268,1
939,4.264388,1.836869,630.296730,93.858924,1

In [ ]:
(unique, counts_h3) = np.unique(y_pred_immo, return_counts=True)
print(f'Valores:     {unique}')
print(f'Frecuencia: {counts_h3}')

Valores:     [0 1 2]
Frecuencia: [ 93 596 251]

In [ ]:
result_h1 = counts_h3

In [ ]:
resultado = [counts_h3]

columnas = ['Infertil(0)', 'Fertil(1)', 'Alta Fertilidad(2)'] # definimos los nombres de las columnas
filas = ['Valores Mínimos'] # definimos los nombres de las filas

df_result = pd.DataFrame(resultado, columns=columnas, index=filas)

In [ ]:
df_result

                 Infertil(0)  Fertil(1)  Alta Fertilidad(2)
Valores Mínimos           93        596                 251